@import "./common/_index.scss";
@import "./components/_index.scss";

body {
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	min-height: 100vh;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;
	// margin-top: 50px;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}

button.accordion {
  width: 100%;
  background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(4px);
  text-align: left;
  padding: 1rem;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.accordion:after {
  content: '\002B';
  font-size: 18px;
  float: right;
}
button.accordion.active:after {
  content: "\2212";
}
button.accordion:hover,
button.accordion.active {
  background-color: #ddd;
}
.accordion-content {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
	padding: 0 20px;
}
// toggle
.accordion.active ~ .accordion-content {
	max-height: 300px;
	padding: 20px;
}
// toggle